<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[emot:dy001]</key>
	<string>dy001</string>
	<key>[emot:dy002]</key>
	<string>dy002</string>
	<key>[emot:dy003]</key>
	<string>dy003</string>
	<key>[emot:dy004]</key>
	<string>dy004</string>
	<key>[emot:dy005]</key>
	<string>dy005</string>
	<key>[emot:dy006]</key>
	<string>dy006</string>
	<key>[emot:dy007]</key>
	<string>dy007</string>
	<key>[emot:dy008]</key>
	<string>dy008</string>
	<key>[emot:dy009]</key>
	<string>dy009</string>
	<key>[emot:dy010]</key>
	<string>dy010</string>
	<key>[emot:dy011]</key>
	<string>dy011</string>
	<key>[emot:dy012]</key>
	<string>dy012</string>
	<key>[emot:dy013]</key>
	<string>dy013</string>
	<key>[emot:dy014]</key>
	<string>dy014</string>
	<key>[emot:dy015]</key>
	<string>dy015</string>
	<key>[emot:dy016]</key>
	<string>dy016</string>
	<key>[emot:dy017]</key>
	<string>dy017</string>
	<key>[emot:dy101]</key>
	<string>dy101</string>
	<key>[emot:dy102]</key>
	<string>dy102</string>
	<key>[emot:dy103]</key>
	<string>dy103</string>
	<key>[emot:dy104]</key>
	<string>dy104</string>
	<key>[emot:dy105]</key>
	<string>dy105</string>
	<key>[emot:dy106]</key>
	<string>dy106</string>
	<key>[emot:dy107]</key>
	<string>dy107</string>
	<key>[emot:dy108]</key>
	<string>dy108</string>
	<key>[emot:dy109]</key>
	<string>dy109</string>
	<key>[emot:dy110]</key>
	<string>dy110</string>
	<key>[emot:dy111]</key>
	<string>dy111</string>
	<key>[emot:dy112]</key>
	<string>dy112</string>
	<key>[emot:dy113]</key>
	<string>dy113</string>
	<key>[emot:dy114]</key>
	<string>dy114</string>
	<key>[emot:dy115]</key>
	<string>dy115</string>
	<key>[emot:dy116]</key>
	<string>dy116</string>
	<key>[emot:dy117]</key>
	<string>dy117</string>
	<key>[emot:dy118]</key>
	<string>dy118</string>
	<key>[emot:dy119]</key>
	<string>dy119</string>
	<key>[emot:dy120]</key>
	<string>dy120</string>
	<key>[emot:dy121]</key>
	<string>dy121</string>
	<key>[emot:dy122]</key>
	<string>dy122</string>
	<key>[emot:dy123]</key>
	<string>dy123</string>
	<key>[emot:dy124]</key>
	<string>dy124</string>
	<key>[emot:dy125]</key>
	<string>dy125</string>
	<key>[emot:dy126]</key>
	<string>dy126</string>
	<key>[emot:dy127]</key>
	<string>dy127</string>
	<key>[emot:dy128]</key>
	<string>dy128</string>
	<key>[emot:dy129]</key>
	<string>dy129</string>
	<key>[emot:dy130]</key>
	<string>dy130</string>
	<key>[emot:dy131]</key>
	<string>dy131</string>
	<key>[emot:dy132]</key>
	<string>dy132</string>
	<key>[emot:dy133]</key>
	<string>dy133</string>
	<key>[emot:dy134]</key>
	<string>dy134</string>
	<key>[emot:dy135]</key>
	<string>dy135</string>
	<key>[emot:dy136]</key>
	<string>dy136</string>
	<key>[emot:dy137]</key>
	<string>dy137</string>
</dict>
</plist>
